<turbo-frame id="like_frame_<%= startup.id %>">
  <%= button_to(
        like_startup_path(startup),
        method: :post,
        form: { data: { turbo: "true" } },
        class: button_classes.render
      ) do %>
    <%= raw "&#128077;" %>
    <span class="ml-2"><%= startup.likes.count %> likes</span>
  <% end %>
</turbo-frame>
