<div class="container mx-auto p-6 lg:px-8">
  <div class="md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl/7 font-bold sm:truncate sm:text-3xl sm:tracking-tight">Uhhhhh... This is awkward.</h2>
      <p class="mt-2 text-base/6 text-black">
        We couldn't find the page you were looking for. It might have been removed, had its name changed, or is temporarily unavailable.
      </p>
      <div class="text-center mt-4">
        <%= link_to "Take me back!", root_path, class: button_classes.render %>
      </div>
    </div>
  </div>
</div>